.chat-container {
  &.minify {
    .chatbox, .fa-minus {
      display: none;
    }
    .fa-weixin {
      display: inline-block;
    }
  }

  .fa-minus, .fa-weixin {
    position: absolute;
    right: 18px;
    bottom: 358px;
    font-size: 14px;
    cursor: pointer;
  }

  .fa-weixin {
    bottom: 20px;
    font-size: 22px;
    display: none;
  }
}

.chatbox {
  position: absolute;
  width: 270px;
  height: 340px;
  right: 1em;
  bottom: 1em;
  background: #fff;
  border: 2px solid #444;
  font-size: 12px;

  .header-bar {
    background: rgba(0, 0, 0, 0.09);
    height: 8%;
    width: 100%;
    border-bottom: 1px solid #444;

    .chatter, .friend-list {
      display: inline-block;
      height: 100%;
      line-height: 26px;
      margin: auto 2px;

      .status {
        display: inline-block;
        height: 8px;
        width: 8px;
        border-radius: 4px;
        margin-right: 2px;
        &.online { background: green; }
        &.offline { background: gray; }
      }
    }

    .friend-list {
      float: right;

      .dropdown-list {
        max-height: 200px;
        overflow-y: auto;
      }

      .friend-item {
        width: 100px;
        padding: 2px 0.25em;
        &:hover {
          cursor: pointer;
          background: rgba(0,0,0,0.13);
        }
      }
    }
  }

  .message-list {
    width: 100%;
    border-bottom: 1px solid #444;
    overflow-y: auto;
    height: 72%;
    padding: 0.25em;
    padding-top: 1em;
    box-sizing: border-box;
  }

  .message-composer {
    width: 100%;
    height: 20%;
    .textbox {
      box-sizing: border-box;
      height: 100%;
      padding: 0.25em;

      &:focus {
        outline: none;
      }
    }
  }
}

.message-list {
  .message-item {
    margin-bottom: 1.5em;

    span:last-child {
      margin-left: 4px;
    }

    .message-body {
      vertical-align: middle;
      display: inline-block;
      max-width: 80%;
      font-size: 13px;
      border-radius: 4px;
      padding: 4px 8px;
      background: rgba(0, 150, 0, 0.35);
    }

    &.right {
      text-align: right;
      .message-body {
        background: rgba(0, 120, 250, 0.35);
      }
    }
  }
}
