body {
  background: #347D34;
  font-family: sans-serif;
  color: #333;
  font-size: 14px;
}

.dropdown {
  position: relative;
}
.dropdown .dropdown-header {
  text-align: center;
  padding: 0 0.25em;
}
.dropdown .dropdown-header:hover {
  background: rgba(0, 0, 0, 0.13);
  cursor: pointer;
}
.dropdown .dropdown-header .fa-caret-down {
  margin-right: 3px;
}
.dropdown .dropdown-list {
  display: none;
  position: absolute;
  right: 0;
  background: #fff;
  border: 1px solid #444;
}
.dropdown .dropdown-list.show {
  display: block;
}

.chat-container.minify .chatbox, .chat-container.minify .fa-minus {
  display: none;
}
.chat-container.minify .fa-weixin {
  display: inline-block;
}
.chat-container .fa-minus, .chat-container .fa-weixin {
  position: absolute;
  right: 18px;
  bottom: 358px;
  font-size: 14px;
  cursor: pointer;
}
.chat-container .fa-weixin {
  bottom: 20px;
  font-size: 22px;
  display: none;
}

.chatbox {
  position: absolute;
  width: 270px;
  height: 340px;
  right: 1em;
  bottom: 1em;
  background: #fff;
  border: 2px solid #444;
  font-size: 12px;
}
.chatbox .header-bar {
  background: rgba(0, 0, 0, 0.09);
  height: 8%;
  width: 100%;
  border-bottom: 1px solid #444;
}
.chatbox .header-bar .chatter, .chatbox .header-bar .friend-list {
  display: inline-block;
  height: 100%;
  line-height: 26px;
  margin: auto 2px;
}
.chatbox .header-bar .chatter .status, .chatbox .header-bar .friend-list .status {
  display: inline-block;
  height: 8px;
  width: 8px;
  border-radius: 4px;
  margin-right: 2px;
}
.chatbox .header-bar .chatter .status.online, .chatbox .header-bar .friend-list .status.online {
  background: green;
}
.chatbox .header-bar .chatter .status.offline, .chatbox .header-bar .friend-list .status.offline {
  background: gray;
}
.chatbox .header-bar .friend-list {
  float: right;
}
.chatbox .header-bar .friend-list .dropdown-list {
  max-height: 200px;
  overflow-y: auto;
}
.chatbox .header-bar .friend-list .friend-item {
  width: 100px;
  padding: 2px 0.25em;
}
.chatbox .header-bar .friend-list .friend-item:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.13);
}
.chatbox .message-list {
  width: 100%;
  border-bottom: 1px solid #444;
  overflow-y: auto;
  height: 72%;
  padding: 0.25em;
  padding-top: 1em;
  box-sizing: border-box;
}
.chatbox .message-composer {
  width: 100%;
  height: 20%;
}
.chatbox .message-composer .textbox {
  box-sizing: border-box;
  height: 100%;
  padding: 0.25em;
}
.chatbox .message-composer .textbox:focus {
  outline: none;
}

.message-list .message-item {
  margin-bottom: 1.5em;
}
.message-list .message-item span:last-child {
  margin-left: 4px;
}
.message-list .message-item .message-body {
  vertical-align: middle;
  display: inline-block;
  max-width: 80%;
  font-size: 13px;
  border-radius: 4px;
  padding: 4px 8px;
  background: rgba(0, 150, 0, 0.35);
}
.message-list .message-item.right {
  text-align: right;
}
.message-list .message-item.right .message-body {
  background: rgba(0, 120, 250, 0.35);
}

/*# sourceMappingURL=main.css.map */
